@import "./_reset";

$bg: "/images";
body {
  font-family: "Josefin Sans", sans-serif;
}


      .form_control{
        position: relative;
      }
      .submit{
        position: absolute;
        right: 25%;
        top: 0;
      }
      .form_field button{
        width: 80px;
        background: $softRed;
        padding: 0.9em;
        border-radius: 1.9em;
        border: 1px solid transparent;
        opacity: 75%;
        &:hover{
          cursor: pointer;
          background: $desaturatedRed;
        }
      }

      .form_field input {
        width: 75%;
        border-radius: 1.9em;
        padding: 1.1em;
        border: 2px solid gray;
        opacity: 0.5;
      }
      .error_control{
        position: absolute;
        right: 42%;
        top: 18%;
        display: none;
      }
      .form_field input[placeholder] {
        padding-left: 20px;
        color: #000;
      }
      .error_message {
        padding-top: 10px;
        .small__text,
        .error__email{
          padding-left: 1.8em;
          color: $softRed;
        }
      }

      .text {
          color: $desaturatedRed;
          font-weight: 300;
        }
        .description{
          color: $desaturatedRed;
        }

@media (min-width: 48.063rem) {
  main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  .main_container {
    height: 550px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../../../#{$bg}/bg-pattern-desktop.svg);
      width: 62.5%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 120px;
      .hero {
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 0.2em;
        font-weight: 700;
        margin-top: -50px;
      }
      .description {
        line-height: 25px;
        margin-top: -125px;
        font-size: 0.9em;
        padding: 30px 0;
        width: 75%;
      }
      .form_field {
        margin-top: -120px;
      }
    }
    .avarta_image{
      width: 40%;
      height: 100%;
      .desktop img{
        width: 100%;
        height: 100%;

      }
       .mobile img{
      display: none;
    }
    }
  }
}
  
}

@media (max-width: 48rem){
    main{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    .main_container{
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../../../#{$bg}/bg-pattern-desktop.svg);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column-reverse;
      .content{
        width: 80%;
        .logo{
          position: absolute;
          top: 2%;
        }
        .hero{
          font-size: 2.7em;
          text-align: center;
           text-transform: uppercase;
           font-weight: 700;
           padding: 40px 0;
        }
        .description{
          font-size: 0.9em;
          text-align: center;
          margin-top: -50px;
          padding: 20px 0;
        }
      }
    }
    .form_field input {
        width: 90%;
      }
      .submit{
        right: 0;
        top: 0;
      }
      .error_control{
        right: 30%;
      }
    .desktop img{
      display: none;
    }
    
     .avarta_image{
      height: 100%;
      width: 100%;
     }
    .mobile img{
      margin-top: 60px;
      width: 100%;
      height: 10%;
    }
}

